body{
    background-color: #f8f9fa;
}

body > nav, body > footer > div > div > section{
    background-color: #5e2129;
}

body > nav > div > a, body > nav > div > div > ul > li, h1, h2{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
}

body > footer{
    background-color: #6c757d;
    font-family: 'Quicksand', sans-serif;
}

.footer-background{
    background-color: #5e2129;
}

.btn-danger:hover {
    color: #fff;
    background-color: #4D1920 !important;
    border-color: #4D1920 !important;
}

.btn-danger {
    color: #fff;
    background-color: #5e2129 !important;
    border-color: #5e2129 !important;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #5e2129 !important;
    border-color: #5e2129 !important;
}

.btn-outline-danger {
    color: #5e2129 !important;
    border-color: #5e2129 !important;
}

a:hover{
    color: #5e2129;
}

.card-vino:hover{
    color: #5e2129 !important;
}

.navbar-hov:hover{
    color: #F0B5F2 !important;
}

p{
    font-family: 'Quicksand', sans-serif;
}

hr{
    background-color: #5e2129;
    opacity: 1;
}

.divisory{
    background-color: #5e2129;
    height: 56px;
}

.hr-footer{
    height: 5000px;
}

body > main{
    padding-top: 50px;
}

body > main > div > div > div > div > div > form{
    padding: 10% 5%;
    position: sticky;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
}

body > main > div > div > div > div > img{
    height: 800px;
    width: auto;
    object-fit: cover;
}

.product-background{
    background: rgb(255,255,255);
}

.button-filter:hover, .provenienza:hover, .annata:hover{
    background-color: rgba(128, 128, 128, 0.527);
    cursor: pointer;
}

.product-card{
    border-radius: 12px;
}

.product-card{
    border-radius: 12px;
}

.add-to-cart{
    border-radius: 6px;
}

.small-text{
    font-size: 12px;
}

.checkout-button{
    width: 100%;
}

div.filter-accordion > div{
    display: none;
    overflow: hidden;
}

.scale-on-click:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card-footer{
    background-color: transparent;
    border-top: none;
}

.rimuoviFiltri{
    width: 100%;
}

/*Chrome*/
    input[type='range']::-webkit-slider-thumb {
      background:#5e2129;
      box-shadow: #5e2129;
      box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(145, 2, 2, 0.25)
    }
    .form-range:focus::-webkit-slider-thumb{
        background:#5e2129;
        box-shadow: #5e2129;
        box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(145, 2, 2, 0.25)
      }

      .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control-next, .carousel-control-prev{
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .carousel-control-next, .carousel-control-prev{
        visibility: visible;
        width: 10%;
    }
    .carousel-control-prev{
        margin-left: -100px;
    }
    .carousel-control-next{
        margin-right: -100px;
    }
}
